@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: var(--color-stone-100);
  --foreground: var(--color-stone-950);

  /* Accent colors - change these to switch your theme */
  --color-accent: var(--color-pink-500);
  --color-accent-hover: var(--color-pink-600);
}

.dark {
  --background: var(--color-stone-950);
  --foreground: var(--color-stone-50);

  /* Accent colors for dark mode */
  /* --color-accent: var(--color-pink-600); */
  /* --color-accent-hover: var(--color-pink-700); */
  --color-accent: var(--color-teal-700);
  --color-accent-hover: var(--color-teal-800);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
