/* Parallax base styles
  --------------------------------------------- */

.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 1px;
}

.parallax_layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax_layer--back {
  -webkit-transform: translateZ(-1px);
  transform: translateZ(-1px) scale(2);
}

.parallax_layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.backgroundImage {
  height: 100vh;
  background: url(../images/leaves.jpg);
  background-position: center center;
  background-size: cover;
}

/* demo styles
  --------------------------------------------- */

/* * {
  margin: 0;
  padding: 0;
} */

/* body {
  font: 100% / 1.5 Arial;
} */

/* .parallax {
  font-size: 200%;
} */

/* add some padding to force scrollbars */
/* .parallax_layer {
  padding: 100vh 0;
} */

/* centre the content in the parallax layers */
.foreground {
  height: 2000px;
  width: 80%;
  margin: 90vh auto;
  background: rgba(240, 240, 240, 0.9);
}
