/* --===== Imports =====-- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* --===== Parallax base styles =====-- */
.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 1px;
}

.parallax_layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax_layer--back {
  -webkit-transform: translateZ(-2px) scale(3);
  transform: translateZ(-2px) scale(3);
  margin-left: -8px;
}

.parallax_layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.backgroundImage {
  height: 100vh;
  background: url(../images/leaves.jpg);
  background-position: center center;
  background-size: cover;
}

/* --===== Center content in parallax layer =====-- */
.foreground {
  height: 2000px;
  width: 80%;
  margin: 0 auto;
  background: rgba(240, 240, 240, 0.9);
}

/* --===== Base Styles =====-- */
body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(17, 17, 15);
}

/* --===== Header / Nav =====-- */
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

nav {
  grid-column: 2 / span 1;
  border-radius: 10px;
}

nav ul {
  display: grid;
  grid-auto-flow: column;
}

nav a {
  margin: 0 auto;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
}

nav a:hover {
  background: #ddd;
  color: black;
}

/* --===== Intro =====-- */

/* Intro box */
#intro {
  width: 80%;
  margin: 20vh auto;
  padding: 50px;
  font-size: 2em;
  background: rgba(240, 240, 240, 0.7);
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 100px;
}

#intro div {
  margin: auto;
}

#intro h1 {
  margin: 5px 0 50px 0;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

#intro p {
  padding-left: 10px;
}

#social {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-auto-flow: column;
}

#social div {
  grid-column: 2 / span 1;
  margin: 0 auto;
}

#social a {
  margin: 0 10px;
  text-decoration: none;
}

#social a img {
  width: 50px;
}

#intro img {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
}
