/* --===== Imports =====-- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Colors */
:root {
  --primary: #225522;
  --secondary: #555522;
  --tertiary: #999977;
  --offWhite: #eae7e7;
  --sage: #557744;
  --nearBlack: #111;
  --midBlack: #333;
}

/* --=======================-- */
/* --===== Base Styles =====-- */
/* --=======================-- */
html {
  /* parallax */
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* end parallax */
}

body {
  /* parallax */
  width: 100%;
  height: 100%;
  /* end parallax */

  font-family: 'Poppins', sans-serif;
  background: #111;
}

#parallaxContainer {
  /* parallax */
  width: 100%;
  height: 100%;
  perspective: 4px;
  overflow-x: hidden;
  overflow-y: auto;
  /* end parallax */
}

/* --=========================-- */
/* --===== General Links =====-- */
/* --=========================-- */
a:link,
a:visited {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

/* --==================-- */
/* --===== Header =====-- */
/* --==================-- */
header {
  /* parallax */
  width: 100%;
  min-height: 100vh;
  position: absolute;
  transform-style: preserve-3d;
  /* end parallax */
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: url('/images/leaves.jpg');
  background-size: cover;
  z-index: 0;
  transform: translateZ(-10px) scale(3.7);
}

/* header div {
  transform: translateZ(0px) scale(1);
} */

/* --=======================================-- */
/* --===== Primary Content Base Styles =====-- */
/* --=======================================-- */
#primaryContent {
  position: relative;
  z-index: 2;
}

section {
  background-color: rgba(240, 240, 240, 0.7);
  margin: 5% 0;
}

/* --===============-- */
/* --===== Nav =====-- */
/* --===============-- */

#navButton {
  position: fixed;
  bottom: 30px;
  right: 20px;
}

/* --=================-- */
/* --===== Intro =====-- */
/* --=================-- */
#intro {
  margin: 20% 0;
  background: rgba(240, 240, 240, 0.7);
}

#intro h1 {
  font-size: 4.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

#intro h2 {
  font-size: 2.2rem;
  font-weight: 300;
}

#intro p {
  font-size: 1.5em;
}

#social a {
  text-decoration: none;
}

#social a img {
  width: 50px;
}

#intro img {
  width: 80%;
}

/* --=================-- */
/* --===== About =====-- */
/* --=================-- */

/* --=====================-- */
/* --===== Portfolio =====-- */
/* --=====================-- */

/* --=====================-- */
/* --===== Academics =====-- */
/* --=====================-- */

/* --==================-- */
/* --===== Resume =====-- */
/* --==================-- */

/* --===================-- */
/* --===== Contact =====-- */
/* --===================-- */

/* --==================-- */
/* --===== Footer =====-- */
/* --==================-- */

/* --===== Boostrap Grid Outlines =====-- */
/* 
[class*='row'] {
  outline: 1px solid lime;
}
[class*='col'] {
  outline: 1px solid aqua;
}
[class*='con'] {
  outline: 1px solid coral;
} */
